* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 500px;
    background-color: #1f2937;
}

.left, .right {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.main-title {
    max-width: 400px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.subtext {
    max-width: 450px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.sign-up {
    background-color: #3882f6;
    max-width: 100px;
    padding: 7px;
    border-radius: 5px;
    color: #e5e7eb;
    font-size: 13px;
    font-weight: 500;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    min-height: 50px;
    color: #f9faf8;
    margin-bottom: 100px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    font-weight: 400;
    min-height: 50px;
    margin-bottom: 100px;
}

a {
    color: #e5e7eb;
}

.cuerpo {
    min-width: 500px;
    max-height: 240px;
    min-height: 240px;
}

img {
    width: auto;
    height: 240px;
    border-radius: 8px;
}

.image {
    display: flex;
    justify-content: flex-end;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.body h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 60px;
}

.container {
    display: flex;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: 300;
    width: 200px;
    height: 250px;
}

.info img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #e5e7eb;
}

.cuerpo-two {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: auto;
}

.main-text {
    font-size: 36px;
    text-align: left;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.sub-text {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #1f2937;
}

.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.bg-blue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 900px;
    padding: 50px;
    background-color: #3882f6;
    border-radius: 10px;
}

.container-text-call {
    color: #e5e7eb;
}

.text-top {
    font-weight: 500;
    font-size: 22px;
}

.text-bottom {
    font-weight: 300;
}

.bg-blue .sign-up {
    border: 2px solid #f9faf8;
    min-width: 110px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
}

.footer-text {
    font-size: 16px;
    font-weight: 300;
    color: #e5e7eb;
}

